<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.transistorsoft.cordova.plugin.background.fetch"
      version="2.0.0">
    <name>CDVBackgroundFetch</name>
    <description>Cordova Background Fetch Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,background fetch</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- Load in the core background service -->
    <dependency id="com.red_folder.phonegap.plugin.backgroundservice" url="https://github.com/Red-Folder/bgs-core.git"/>

    <platform name="android">

        <js-module src="www/BackgroundFetchService.js" name="BackgroundFetchService">
            <clobbers target="plugins.backgroundFetch" />
        </js-module>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
  
            <service android:name="org.transistorsoft.cordova.plugin.background.fetch.BackgroundFetchService">
                <intent-filter>         
                    <action android:name="org.transistorsoft.cordova.plugin.background.fetch.BackgroundFetchService"/> 
                </intent-filter>     
            </service>
            
        </config-file>
        
        <source-file src="src/android/BackgroundFetchService.java" target-dir="src/org/transistorsoft/cordova/plugin/background/fetch" />
    </platform>


    <platform name="ios">

        <!-- required background modes:  App registers for location updates -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
            </array>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundFetch">
                <param name="ios-package" value="CDVBackgroundFetch"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file src="src/ios/CDVBackgroundFetch.m" />
        <header-file src="src/ios/CDVBackgroundFetch.h" />

        <js-module src="www/BackgroundFetch.js" name="BackgroundFetch">
            <clobbers target="plugins.backgroundFetch" />
        </js-module>
     </platform>          

</plugin>
